<script setup>
import CountriesInfo from "../components/CountriesInfo.vue"
import NavBar from "../components/NavBar.vue"
import SearchHotelForm from "../components/SearchHotelsForm.vue";
import CovidCautionItem from "../components/CovidCautionItem.vue";
</script>

<template>
  <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
 <div class="flex flex-col justify-between align-baseline container  mx-auto bg-white center font-ali ">
  
 
  <SearchHotelForm></SearchHotelForm>
  <CovidCautionItem></CovidCautionItem>
 <CountriesInfo/>
 <CountriesInfo/>
 <CountriesInfo/>
 
 </div>
 

</template>