<template>
    <div class="flex flex-col gap-5 ">
        <h3 class="text-4xl">Enjoy your dream vacation</h3>
        <p class="text-slate-400 ">
            Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us
        </p>
        <div class="flex  gap-6 ">
           
            <CountryCard :imgSrc=AustraliaPhoto cardName="Australia" />
            <CountryCard :imgSrc=AustraliaPhoto cardName="Australia" />
            <CountryCard :imgSrc=AustraliaPhoto cardName="Australia" />
            <CountryCard :imgSrc=AustraliaPhoto cardName="Australia" />
        </div>
        
        

    </div>
</template>

<script setup>
import { defineComponent } from 'vue';
import CountryCard from './CountryCard.vue';
import AustraliaPhoto from '../assets/australia.jpg' ;


</script>

<style lang="scss" scoped>

</style>