<template>
    <div class="block overflow-hidden">
      <img :src=props.imgSrc alt="" class="w-full rounded-lg  ">
      <h3>{{ props.cardName }}</h3>
      <p>{{ props.propertyCount }}</p>
    </div>
  </template>

<script setup>
const props = defineProps(['imgSrc','cardName','propertyCount'])

</script>

<style >

</style>
