<template>
    <div class="flex
     items-center gap-3 px-20 py-6 bg-amber-100 rounded-lg my-10 shadow-sm">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<path d="M16 12V18.6667" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.0001 28.5467H7.92007C3.29341 28.5467 1.36007 25.24 3.60007 21.2L7.76007 13.7067L11.6801 6.66667C14.0534 2.38666 17.9467 2.38666 20.3201 6.66667L24.2401 13.72L28.4001 21.2133C30.6401 25.2533 28.6934 28.56 24.0801 28.56H16.0001V28.5467Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15.9932 22.6666H16.0052" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    </div>
    <p>Check the latest COVID-19 restrictions before you travel. Learn more</p>
    </div>
</template>

<script setup>

</script>

<style >

</style>