
<script>
 import { RouterLink, RouterView } from 'vue-router';

import LogoIcon from './LogoIcon.vue';

    export default {
    components: { LogoIcon }
}
</script>
<template>
    <div>
        <div >
  <nav class="flex items-center justify-between flex-wrap py-6  ">

  <LogoIcon class="flex items-center align-baseline  "></LogoIcon>
<div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button> 
  </div>
   <div class="  flex justify-center  self-center items-center   gap-3   from-neutral-500 text-slate-800 basis-auto tracking-wider "  >
      <div><RouterLink to="/">Home</RouterLink></div>
       <div> <RouterLink to="/Discover">Discover</RouterLink></div>
       <div> <RouterLink to="/activities">Activities</RouterLink></div>
       <div> <RouterLink to="/about">About</RouterLink></div>
       <div><RouterLink to="/contact">Contact</RouterLink></div>

  </div>
  <div class="self-center ">
    <button class="bg-blue-500 text-sm py-2 px-4 text-white spacing rounded-md wx-5 tracking-wide " ><RouterLink to="/login">Login</RouterLink></button>
  </div>
  </nav>
 
</div>
    </div>
</template>
