<template>
  <div class="relative container overflow-visible text-white ">
    <img src="../assets/Rectangle 2.jpg " class="w-full z-1" alt="">
    <div class="absolute bottom-1/2  p-24 ">
      <h1 class="text-4xl z-10  ">Enjoy Your Dream Vacation</h1>
    <p class="text-lg ">Plan and book your perfect trip with expert advice, travel tips, destination information and inspiration from us.</p>
    </div>
    <div class="   p-5 shadow-xl border-1.5 border-gray-800 rounded-lg">
     <form action="" class="flex z-2  gap-2  border-slate-700  justify-between   text-black   bg-white w-4/5 right-0.5  rounded-lg mr-auto ml-auto">
      <input  type="text " placeholder="Where are you going?" class=" rounded-md flex-shrink" />
      <input type="date" class=" rounded-md " placeholder="check in date"/>
      <input type="date" class=" rounded-md " />
      <select class=" rounded-md ">
        <option>1 Guest</option>
        <option>2 Guests</option>
        <!-- Add more options as needed -->
      </select>
      <select class=" rounded-md ">
        <option>1 Room</option>
        <option>2 Rooms</option>
        <!-- Add more options as needed -->
      </select>
      <button class="bg-blue-500 text-sm py-2 px-4 text-white spacing rounded-md wx-5 tracking-wide">Search</button>
     </form>
    </div>
  </div>
</template>
