<script setup>
import HomeView from "./views/Homeview.vue" ;
import NavBar from "./components/NavBar.vue" ;
import { RouterView } from "vue-router";
</script>

<template>
  <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
  <div class="flex flex-col justify-between align-baseline container  mx-auto bg-white center px-6 font-ali ">

  <NavBar></NavBar>
<RouterView></RouterView>
</div>
 

</template>